:root {
	--dark-blue: hsl(227, 35%, 25%);
	--light-blue: hsl(223, 50%, 87%);
	--light-green: hsl(174, 77%, 80%);
	--green: hsl(174, 86%, 45%);
	--orange: hsl(15, 100%, 70%);
	--color-text: hsl(225, 20%, 60%);
	font-size: 15px;
}

@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin for-tablet-landscape-down {
	@media (max-width: 900px) {
		@content;
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 901px) {
		@content;
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background: hsl(230, 100%, 99%) url(../images/bg-pattern.svg) top left/250% no-repeat;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	line-height: 1.6;

	@include for-tablet-landscape-up() {
		background: hsl(230, 100%, 99%) url(../images/bg-pattern.svg) top left/100% no-repeat;
	}
}

main {
	color: var(--dark-blue);
	text-align: center;
	padding: 5em 0;

	> p {
		color: var(--color-text);

		@include for-phone-only() {
			span {
				display: block;
			}
		}
	}
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
ul,
ol,
p,
input,
button {
	color: inherit;
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
	outline: none;
}

.btn {
	background-color: var(--dark-blue);
	border: none;
	border-radius: 5em;
	color: var(--light-blue);
	cursor: pointer;
	display: inline-block;
	padding: 1em 3em;
	line-height: 1;
	transition: color 175ms ease-in-out;

	&:hover,
	&:focus {
		color: #fff;
	}
}

.container {
	margin: auto;
	max-width: 40rem;
	width: 90%;
}

.primary-title {
	font-size: 1.6rem;
	font-size: clamp(1.4rem, calc(0.9714rem + 1.7143vw), 2rem);
	font-weight: 800;
	line-height: 1.3;
	padding: 0.5em 0;
	position: relative;

	&::before {
		content: url(../images/pattern-circles.svg);
		position: absolute;
		z-index: -1;
		inset: 0;
		margin: auto;
		width: 6em;
		top: -1em;
	}
}

.card {
	background: #fff;
	border-radius: 0.5em;
	box-shadow: 0em 0.5em 1.5em -0.5em var(--light-blue);
	color: var(--color-text);
	margin-top: 3em;
	position: relative;

	> div {
		padding: 3em 2em;
		position: relative;

		&:first-child::before {
			content: '';
			width: 100%;
			height: 0.1em;
			position: absolute;
			bottom: 0;
			right: 0;
			background: #eee;
		}

		@include for-tablet-landscape-up() {
			padding: 3em;
		}
	}

	.label-views {
		text-transform: uppercase;
		letter-spacing: 0.15em;

		@include for-tablet-landscape-up() {
			text-align: left;
			display: block;
		}
	}

	.p-price {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5em;
		padding-bottom: 1.5em;

		.price {
			color: var(--dark-blue);
			font-weight: 800;
			font-size: 2.25rem;
		}

		@include for-tablet-landscape-up() {
			position: absolute;
			top: 2em;
			right: 3em;
		}
	}

	&__switch-billing {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5em;

		p {
			font-size: 0.9rem;
		}

		.discount {
			background-color: hsl(14, 92%, 95%);
			border-radius: 5em;
			color: var(--orange);
			font-size: 0.7rem;
			font-weight: 800;
			padding: 0.3em 0.5em;
			position: absolute;
			line-height: 1;
			right: 1em;

			@include for-tablet-landscape-down() {
				&--for-desktop {
					display: none;
				}
			}

			@include for-tablet-landscape-up() {
				right: 9em;

				&--for-mobile {
					display: none;
				}
			}
		}
	}

	&__cta {
		ul {
			display: grid;
			gap: 0.25em;

			@include for-tablet-landscape-down() {
				position: relative;
				top: -1.5em;
			}

			li::before {
				content: url(../images/icon-check.svg);
				padding-right: 1em;
			}
		}

		@include for-tablet-landscape-up() {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: left;
		}
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 2.75em;
	height: 1.5em;

	input {
		display: none;

		&:checked + .switch-slider {
			background-color: hsl(174, 77%, 70%);

			&::before {
				transform: translateX(1.15em);
			}

			&:hover,
			&:focus {
				background-color: var(--green);
			}
		}
	}

	.switch-slider {
		background-color: var(--light-blue);
		border-radius: 1em;
		cursor: pointer;
		inset: 0;
		position: absolute;

		&::before {
			transition: transform 250ms ease-in-out;
			content: '';
			width: 1em;
			height: 1em;
			background-color: #fff;
			border-radius: 5em;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0.3em;
			margin: auto;
		}
		&:hover,
		&:focus {
			background-color: var(--green);
		}
	}
}

.slider-container {
	position: relative;
	margin: 2em 0;
	width: 100%;

	.slider {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: transparent;
		border-radius: 1em;
		height: 0.5em;
		position: relative;
		width: inherit;
		z-index: 20;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			background: var(--green) url(../images/icon-slider.svg) center/55% no-repeat;
			border: none;
			outline: none;
			border-radius: 5em;
			box-shadow: 0 0.5em 1em 0.25em var(--light-green);
			cursor: pointer;
			height: 3em;
			width: 3em;
			transition: background-color 250ms ease-in-out;

			&:hover,
			&:focus {
				background-color: hsl(174, 77%, 70%);
			}

			&:active {
				background-color: hsl(174, 86%, 35%);
			}
		}

		&::-moz-range-thumb {
			-moz-appearance: none;
			appearance: none;
			background: var(--green) url(../images/icon-slider.svg) center/55% no-repeat;
			border-radius: 5em;
			border: none;
			outline: none;
			box-shadow: 0 0.5em 1em 0.25em var(--light-green);
			cursor: pointer;
			height: 3em;
			width: 3em;
			transition: background-color 250ms ease-in-out;

			&:hover,
			&:focus {
				background-color: hsl(174, 77%, 70%);
			}

			&:active {
				background-color: hsl(174, 86%, 35%);
			}
		}
	}

	.progress-bar {
		overflow: hidden;
		width: inherit;
		height: 0.5em;
		background-color: hsl(224, 65%, 95%);
		position: absolute;
		top: 0.6em;
		z-index: 10;
		border-radius: 1em;

		&__fill {
			position: absolute;
			left: 0;
			width: 50%;
			background-color: var(--light-green);
			height: inherit;
		}
	}
}
